/* Overall Styling. */
@font-face {
  font-family: 'roman-sd';
  src: url('../fonts/roman-sd.ttf') format('truetype');
}

body {
  background-image: url(../resources/GreekRuins.jpeg);
  background-size: cover;
  margin: 100px;
   
  text-align: center;

  cursor: default;
}
 
h1, a {
  color: #ff6961;
  font-family: 'roman-sd', serif;

}

/* Heading. */
 h1 {
  font-size: 3em;
  word-spacing: -15px;
}

/* Question.  */
 #app section#question, #app section#answer {
   padding: 80px;
}

/* Flip. */
label {
  transform-style: preserve-3d;
  display: block;
  height: 200px;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 800ms;
  z-index: 20;
}

.card div {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  text-align: center;
  margin-top: 0;
  backface-visibility: hidden;
  border-radius: 5px;
}

.card .back {
  background: #222;
  color: white;
  transform: rotateX(180deg);
}

label:hover .card {
  transform: rotateX(20deg);
  box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

input {
  display: none;
}

:checked + .card {
  transform: rotateX(180deg);
}

label:hover :checked + .card {
  transform: rotateX(160deg);
  box-shadow: 0 20px 20px rgba(255,255,255,.2);
}

/* Refresh Page Button. */
#app section#refresh {
  position: fixed;
  left: 50%;
  margin: 20px;
  padding: 20px;
  margin-left: -140px;
  margin-top: 20px;
   
  border: #ff6961 solid 5px;
  border-radius: 5px;
  background-color: rgba(250, 250, 250, 0.85);
}

#app a {
  padding: 20px 40px 20px 40px;
   
  color: #ff6961;
  word-spacing: -5px;
}
 
#app section#refresh:hover {
  border: white solid 5px;
  background-color: rgba(255, 105, 97, 0.85);
}
 
#app a:hover {
  color: white;
}