/* Overall Styling. */
@font-face {
  font-family: 'roman-sd';
  src: url('../fonts/roman-sd.ttf') format('truetype');
}

body {
  background-image: url(../resources/GreekRuins.jpeg);
  background-size: cover;
  margin: 100px;
   
  text-align: center;

  cursor: default;
}
 
h1, a {
  color: #ff6961;
  font-family: 'roman-sd', serif;

}
 
#app section {
  background-color: rgba(250, 250, 250, 0.85);
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

/* Heading. */
 h1 {
  font-size: 3em;
  word-spacing: -15px;
}

/* Question.  */
 #app section#question, #app section#answer {
   padding: 80px;
}

/* Flip. */
.card {
  transition: transform 1.5s;
  transform-style: preserve-3d;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY(180deg);
}

/* Refresh Page Button. */
#app section#refresh {
  position: fixed;
  left: 50%;
  margin-left: -115px;
  margin-top: 0;
   
  border: #ff6961 solid 5px;
  background-color: rgba(250, 250, 250, 0.85);
}

#app a {
  padding: 20px 40px 20px 40px;
   
  color: #ff6961;
  word-spacing: -5px;
}
 
#app section#refresh:hover {
  border: white solid 5px;
  background-color: rgba(255, 105, 97, 0.85);
}
 
#app a:hover {
  color: white;
}